@import "tailwindcss";

/* @theme {

    --color-primary: "#1DA1F2";
    --color-secondary: "#14171A";
    --color-accent: "#657786";
    --color-neutral: "#AAB8C2";
    "base-100": "#FFFFFF";
    --color-info: "#1DA1F2";
    --color-success: "#17BF63";
    --color-warning: "#FFAD1F";
    --color-error: "#E0245E";

} */